<div class="container">
    <h2>Création fiche de réglage</h2>
  
    <!-- Temperature Section -->
    <div class="section">
      <h3>Temperature</h3>
      <table>
        <tr>
          <th>Zone</th>
          <th>Value (°C)</th>
          <th>+/-</th>
        </tr>
        <tr>
          <td>Buse</td>
          <td><input type="text" ></td>
          <td><input type="text" ></td>
        </tr>
        <tr>
          <td>Avant</td>
          <td><input type="text" ></td>
          <td><input type="text" ></td>
        </tr>
        <tr>
          <td>Zone 1</td>
          <td><input type="text" ></td>
          <td><input type="text" ></td>
        </tr>
        <tr>
          <td>Zone 2</td>
          <td><input type="text" ></td>
          <td><input type="text" ></td>
        </tr>
        <tr>
          <td>Arrière</td>
          <td><input type="text" ></td>
          <td><input type="text" ></td>
        </tr>
      </table>
    </div>
  
    
  </div>
  